/* beauty-contact-popup-form-styles */

#TagPopup_FormContainer
{
	height:460px;
	width:369px;
	background:#2f3847;
	border:0;
	padding:5px;
	position:absolute;
	z-index:999;
	cursor:default;   
	display:none;
}

#TagPopup_FormContainerHeader
{
	height:30px;
	text-align: center;
}

#TagPopup_FormContainerHeader a
{
   color:#FFFFFF;
   font-family:Verdana,Arial;
   font-size:10pt;
   font-weight:bold;
   text-decoration: none !important;
   color: #818fa7;
}

#TagPopup_FormTitle
{
	margin: 8px;
	color: #FFFFFF;
	font-family: cursive;
	font-size: 17pt;
	font-weight: bold;
	margin-left: 59px; 
}

#TagPopup_FormClose
{
   float:right;
   width:50px;
   margin:5px;
   
}

#TagPopup_FormContainerBody
{
   margin:15px;
}

#TagPopup_FormContainerBody h2
{
   font-family : Arial, sans-serif;
   font-size: 14pt;
   font-weight:bold;
   color:#333;    
}

#TagPopup_FormContainerBody p
{
   font-family : Arial, sans-serif;
   font-size: 12pt;
   color:#333;
}

#TagPopup_FormContainerFooter
{
   position: fixed; 
   top:0; 
   left:0; 
   bottom:0; 
   right:0;
   background:#000000;
   opacity: .4;
   -moz-opacity: .4;
   filter: alpha(opacity=40);
   border:1px solid #cecece;
   z-index:1;
   display:none;
}

#TagPopup_FormLabel 
{
	font-family : Arial, sans-serif;
	font-weight: bold;
	color:#000000;
	padding-top:4px;
}
#TagPopup_FormLabel_Page
{
	font-family : Arial, sans-serif;
	font-weight: bold;
	color:#000000;
	padding-top:4px;
	line-height:0.5em;
	font-size:14px;
}
#TagPopup_FormAlert 
{
	font-family : Arial, sans-serif;
	font-size:1.0em;
	color:#FF0000;
	padding-top:4px;
}
.TagPopup_TextForm 
{
	margin-top: 10px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07) inset;
    color: #333;
    transition: border-color 0.05s ease-in-out 0s;
	padding: 10px;
	width: 94%;
	border-radius: 0 !important;
}
.TagPopup_TextArea 
{
	margin-top: 10px;
	padding: 10px;
	width: 94%;
	height:90px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07) inset;
    color: #333;
    transition: border-color 0.05s ease-in-out 0s;
	border-radius: 0 !important;
}
.TagPopup_Button 
{
	background-color: #f54b56 !important;
    background-image: none !important;
    color: white !important;
    font-size: 17px !important;
    margin-top: 20px;
    padding: 10px !important;
    width: 100%;
	border:  0px !important;
	border-radius: 0 !important;
}
.TagPopup_Human
{
	color: #ffffff !important;
	margin-top: 10px;
	font-weight: normal !important;
}
// set all links to red
.color-option-one a {
	color: #ff0000;
}

// set all links to blue
.color-option-two a {
	color: #0000ff;
}

/* Responsive css for mobile screen starts */

 @media only screen and (max-device-width: 480px) {
 
 #TagPopup_FormContainer
{
	height:312px;
	width:290px;
	background:#2f3847;
	border:0;
	padding:5px;
	position:absolute;
	z-index:999;
	cursor:default;   
	display:none;
	margin: 10px;
	left: 0 !important;
}

#TagPopup_FormContainerHeader
{
	height:30px;
	text-align: center;
}

#TagPopup_FormContainerHeader a
{
   color:#FFFFFF;
   font-family:Verdana,Arial;
   font-size:10pt;
   font-weight:bold;
   text-decoration: none !important;
   color: #818fa7;
}

#TagPopup_FormTitle
{
	margin: 4px;
	color: #FFFFFF;
	font-family: cursive;
	font-size: 14pt;
	font-weight: bold;
	margin-left: 59px; 
}

#TagPopup_FormClose
{
   float:right;
   width:50px;
   margin:5px;
   
}

#TagPopup_FormContainerBody
{
   margin:0 10px 10px;
}

#TagPopup_FormContainerBody h2
{
   font-family : Arial, sans-serif;
   font-size: 14pt;
   font-weight:bold;
   color:#333;    
}

#TagPopup_FormContainerBody p
{
   font-family : Arial, sans-serif;
   font-size: 12pt;
   color:#333;
}


#TagPopup_FormLabel 
{
	padding-top:2px;
}
#TagPopup_FormLabel_Page
{
	padding-top:2px;
	line-height:0.5em;
}
#TagPopup_FormAlert 
{
	padding-top:4px;
}
.TagPopup_TextForm 
{
	margin-top: 5px;
	padding: 3px;
	width: 97%;
}
.TagPopup_TextArea 
{
	margin-top: 5px;
	padding: 3px;
	height:70px;
	width: 97%;
}
.TagPopup_Button 
{
    font-size: 14px !important;
    margin-top: 8px;
    padding: 5px !important;

}
.TagPopup_Human
{
	margin-top: 6px;

}      
}
/* Responsive css for mobile screen starts */